customer-api/src/main/mule/customer-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd">
   
    <apikit:config name="customer-api-config" api="customer-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="customer-api-main">
        <http:listener config-ref="order-api-httpListenerConfig" path="/customer-api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="customer-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="customer-api-console">
        <http:listener config-ref="order-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="customer-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\customers\(custId):application\json:customer-api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="custId">attributes.uriParams.'custId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="put:\customers\(custId):application\json:customer-api-config" />
    </flow>
    <flow name="get:\customers:customer-api-config">
        <choice doc:name="Choice" doc:id="7e855ee1-7905-42eb-9cf5-989692bc8cdd" >
			<when expression="#[attributes.queryParams.custId !=null]">
				<salesforce:query doc:name="query" doc:id="996bb2c4-163c-43e5-ae18-117c9e27480f" config-ref="Salesforce_Config" >
					<salesforce:salesforce-query ><![CDATA[select Name,Phone,ShippingCity from Account where Phone = ':phone']]></salesforce:salesforce-query>
					<salesforce:parameters ><![CDATA[#[{
	phone: attributes.queryParams.custId
}]]]></salesforce:parameters>
				</salesforce:query>
			</when>
			<otherwise >
				<salesforce:query doc:name="Query" doc:id="e675262a-551f-4f3b-8a74-9b5b2ebbf653" config-ref="Salesforce_Config">
			<salesforce:salesforce-query><![CDATA[select Name,Phone,ShippingCity from Account]]></salesforce:salesforce-query>
		</salesforce:query>
			</otherwise>
		</choice>
		<logger level="INFO" message="get:\customers:customer-api-config" />
		<ee:transform doc:name="Transform Message" doc:id="a7cabcd8-f094-4cd7-90af-eeb3232e022b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler >
			
	
		</error-handler>
    </flow>
    <flow name="get:\customers\(custId):customer-api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="custId">attributes.uriParams.'custId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <salesforce:query doc:name="Query" doc:id="2bf4f944-5b12-4abd-9d0d-18b76cd636c7" config-ref="Salesforce_Config">
			<salesforce:salesforce-query ><![CDATA[select Name,Phone,ShippingCity from Account where Phone = ':phone']]></salesforce:salesforce-query>
			<salesforce:parameters ><![CDATA[#[{
	phone: vars.custId
}]]]></salesforce:parameters>
		</salesforce:query>
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload[0]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\customers:application\json:customer-api-config">
		<ee:transform doc:name="Transform Message" doc:id="dc177573-f5e2-4b07-ae01-2c3b8f07bca2" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
 [{
	Name: payload.name,
	Phone: payload.contactNo,
	DunsNumber:payload.contactNo,
	ShippingCity: payload.city
	
     }]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:query doc:name="Query" doc:id="0d452d17-705b-472e-be50-65e027fbed44" config-ref="Salesforce_Config" target="sfQueryResult" >
			<salesforce:salesforce-query ><![CDATA[select Name,Phone,ShippingCity from Account where DunsNumber = ':phone']]></salesforce:salesforce-query>
			<salesforce:parameters ><![CDATA[#[{
	phone: payload[0].Phone
}]]]></salesforce:parameters>
		</salesforce:query>
		<logger level="INFO" doc:name="Logger" doc:id="94bf7219-d069-43e3-97b7-d61560e2512f" message="is account exists in salesforce #[vars.sfQueryResult]"/>
		<choice doc:name="Choice" doc:id="f601d3d5-f5d1-4821-aac8-3f517fcc40dc" >
			<when expression="#[vars.sfQueryResult !=null]">
				<salesforce:create doc:name="Create" doc:id="1085b3b2-7501-41a2-852e-8aa818d99f5f" config-ref="Salesforce_Config" type="Account" />
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="53fa5e8f-8e36-4f78-ba3c-a2bc184a5b70" message="Account already exists in salesforce"/>
			</otherwise>
		</choice>
		<logger level="INFO" message="post:\customers:application\json:customer-api-config" />
        
    </flow>
</mule>
